<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ali Jameel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("index", "Home")">

            <div class="container">
                <div class="row  align-items-center">
                    <div class="col">
                        <img src="~/Content/Logos/MOHD LOGO hid.png" width="80" height="80" />
                    </div>
                    <div class="col">
                        Welcome @System.Web.HttpContext.Current.Session["Username"]
                    </div>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="padding-left:400px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("News", "Home")">News</a>
                        <a class="dropdown-item" href="@Url.Action("CreateNews", "Home")" style="display:@System.Web.HttpContext.Current.Session["Display"]">Create News</a>
                    </div>

                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vendors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("Vendors", "Home")">Vendors</a>
                        <a class="dropdown-item" href="@Url.Action("CreateVendors", "Home")" style="display:@System.Web.HttpContext.Current.Session["Display"]">Create Vendor</a>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="@Url.Action("Calculator", "Home")">Calculator</a>
                </li>

                <li class="nav-item dropdown" style="display:@System.Web.HttpContext.Current.Session["AdminDisplay"]">
                    <a class="nav-link dropdown" href="@Url.Action("Users", "Home")">Users</a>
                </li>

            </ul>
        </div>

        <div class="my-2 my-lg-0">
            @Html.ActionLink("logout", "Logout", "Login")
            <img src="~/Content/Logos/icons8-logout-rounded-48.png" width="25" height="25" />

        </div>
    </nav>
    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
