@model List<Ali_Jameel.Models.News>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
</head>
<body>
    <div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col">
                    <div class="card mb-3" >
                        <div class="row g-0">
                            <div class="col-md-2" style="width: 200px;" onclick="window.location='@item.WebsiteLink';" style="cursor: pointer;">
                                <img src="@item.LogoName" class="img-fluid rounded-start" style="padding:10px;">
                            </div>
                            <div class="col-md-10">

                                <div class="card-body" onclick="window.location='@item.WebsiteLink';" style="cursor: pointer;">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">@item.Description</p>
                                    <p class="card-text"><small class="text-muted">@item.PublishDate</small></p>
                                </div>

                                <div>
                                    
                                    <img src="~/Content/Logos/delete.png" style="width:20px;height:20px;" onclick="GetID(@item.ID)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
    <script>

        function GetID(id) {
            
            $.ajax({
                url: '@Url.Action("DeleteNews", "Home")',
                type: 'Get',
                data: JSON.stringify({ id: id }),
                success: function (data) {
                    //alert(data.d);
                    if (data.d == true) {
                        alert("deleted");
                    }
                    else { alert(" deleting faild !!! "); }
                },
                error: function (xhr, status, error) {
                    alert( ' non no no ' + xhr.responseText);
                }
            });
        alert(id);
        }
    </script>
</body>
</html>
