@model List<Ali_Jameel.Models.User>
<div>

    <div style="padding-top: 25px;"></div>
    <table class="table table-bordered table-sm" style=" width: 30%; ">
        <tbody>

            <script>
                var object = [];
            </script>
            @foreach (var item in Model)
            {
                if (item.UserName != "")
                {
                    <tr>
                        <td class="w-20">@item.UserName</td>
                        <td class="w-20"><input id="@item.UserName" type="checkbox" onchange="handleClick(this);" /></td>
                    </tr>
                    <script>

                        function handleClick(obj) {
                            //alert(obj.id + "  " + obj.checked)

                            var checked;
                            if (obj.checked == true) {
                                checked = "1";
                            }
                            else {
                                checked = "0";

                            }

                             $.ajax({
                                url: '@Url.Action("Permit", "Home")',
                                type: 'GET',
                                 data: { Username: obj.id, Role: checked },
                                success: function (data) {
                                    window.location.reload(true);
                                },
                                error: function (xhr, status, error) {
                                    alert(' non no no ' + xhr.responseText);
                                }
                            });
                        }

                        var item = "@item.IsAdmin".toLowerCase();
                        if (item === "true") {
                            document.getElementById("@item.UserName").setAttribute("checked", "");
                        }
                    </script>
                }
            }


        </tbody>
    </table>

    @*<button type="button" class="btn btn-primary" onclick="Permit()">Permit</button>*@
    
</div>
